html,
body {
	font-size: 16px;
}
#addMedicationWindow {
	width: 95%;
}

#addMedicationTable {
	width: 100%;
}

table#MedicationListTable {
	background: #f3f3f3;
	width: 100%;
}

#MedicationListTableBody tr:nth-child(1) {
	background: #52c8f4;
	height: 30px;
}

tr {
	height: 35px;
}

table#MedicationListTable td {
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 10px;
}

input {
	min-height: initial !important;
	height: 25px;
	line-height: 0px !important;
	font-size: 15px !important;
}

button {
	height: 35px;
	line-height: 2px !important;
}

.editButton{
	background-image: url("jquery-mobile-theme-140920-0/themes/images/icons-png");
	background-size: contain;
}

.infoInput{
	border: none !important;
}


.ui-popup-container{
	width:90%;
}